<nav
  class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 dark:bg-gray-900"
>
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <span
      class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"
    >
      Spotify playing for README
    </span>
    <div class="flex md:order-2">
      <a href="{{ url_for('auth.login') }}" class="px-4">
        <button
          type="button"
          class="text-white bg-emerald-600 hover:bg-emerald-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-emerald-500 dark:hover:bg-emerald-600 dark:focus:ring-blue-800"
        >
          Login
        </button>
      </a>

      <a href="{{ github_url }}">
        <button
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Github
        </button>
      </a>
    </div>
  </div>
</nav>
